[https]
	proxy = http://127.0.0.1:1087
[http]
	proxy = http://127.0.0.1:1087
[user]
	name = Colin
	email = qingyu.wang@aliyun.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
